<div class="modal fade modal-background" [ngClass]="{'show d-block': modalVisible}" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Czy na pewno chcesz się zalogować?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="logIn()">Tak!</button>
        <button type="button" class="btn btn-secondary" (click)="hideModal()" data-dismiss="modal">Nie</button>
      </div>
    </div>
  </div>
</div>